@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  --font-family: 'Bree Serif', serif;
  --main-color: #bf3f3f;
  --secondary-color: #982c2c;
  --white-color: #ffffff;
  --bg-progress: #431010;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
}

body {
  background-color: var(--main-color);
}

.wrapper {
  width: 100%;
}

/* ========================================================================== */
/* ===============================HEADER PAGE================================ */
/* ========================================================================== */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 20px 20px;
  align-items: center;
  min-width: 100%;
}

header>nav ul {
 display: flex;
 list-style: none;
}

header>nav ul li {
  margin-left: 10px;
}

header a,
header h1 {
  text-decoration: none;
  color: var(--main-color);
}

header a:hover {
  text-decoration: underline;
}

/* ========================================================================== */
/* ==================================HOME PAGE=============================== */
/* ========================================================================== */

.pokemonList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 20px 20px;
}

.pokemonList_pokemon {
  padding: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 1rem;
}

.pokemonList_pokemon img {
  max-width: 100%;
}

.pokemonList_pokemon>a {
  color: var(--white-color);
  text-decoration: none;
}

.pokemonList_pokemon>a:hover p {
  text-decoration: underline;
}

/* ========================================================================== */
/* ==========================DETAILS POKEMON PAGE============================ */
/* ========================================================================== */

.pokemon {
  text-align: center;
  color: var(--white-color);
}

.pokemon>h2,
.pokemon h3 {
  margin: 30px 0;
  font-weight: 600;
}

.pokemon h3 {
  font-size: 1.3rem;
}

.pokemonBackHome {
  margin-top: 30px;
  margin-bottom: 10px;
}

.pokemon>p a {
  color: var(--white-color);
  text-decoration: none;
}

.pokemon>p a:hover {
  text-decoration: underline;
}

.pokemonDescription {
  display: flex;
  flex-direction: column;
}

.pokemonDescription>aside {
  width: 100%;
  padding: 20px;
  align-self: center;
}

.pokemonDescription>aside img {
  width: 70%;
}

.pokemonDescription>article {
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--secondary-color);
}

.pokemonDescription>article .pokemonType {
  display: inline-block;
  margin: 0 5px 20px 5px;
}

.pokemonType>p span {
  padding: 6px 6px;
  border-radius: 0.2rem;
}

.pokemonDescription>article .pokemonStats>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.pokemonStats>div label,
.pokemonStats>div .progress {
  width: 100%;
}

.pokemonStats>div label {
  text-align: left;
  position: relative;
  margin: 10px 0;
}

.pokemonStats>div span {
  position: absolute;
  right: 0;
  top: 0;
}

.progress {
  background-color: var(--bg-progress);
  height: 25px;
  position: relative;
  border-radius: 0.3rem;
}

.progress>div {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

/* ========================================================================== */
/* ===============================TYPES LIST PAGE============================ */
/* ========================================================================== */

.listTypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 20px;
}

.listTypes>h2 {
  grid-column: span 2;
  color: var(--white-color);
  font-size: 1.3rem;
}

.listTypes>div p {
  text-align: center;
  padding: 20px 20px;
  border-radius: 0.5rem;
}

.listTypes>div a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
}

.listTypes>div a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {

  .pokemonList {
    grid-template-columns: repeat(2, 1fr);
  }

  .listTypes {
    grid-template-columns: repeat(3, 1fr);
  }

  .listTypes>h2 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 900px) {

  .wrapper {
    padding: 20px 20px;
  }

  header {
    margin-bottom: 20px;
    border-radius: 1.5rem;
  }

  .pokemonList {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .listTypes {
    grid-template-columns: repeat(4, 1fr);
  }

  .listTypes>h2 {
    grid-column: span 4;
  }

  .pokemonDescription {
    flex-direction: row;
  }

  .pokemonDescription>aside img {
    width: 90%;
  }
}

@media screen and (min-width: 1100px) {

  .pokemonList {
    grid-template-columns: repeat(4, 1fr);
  }
}
